.display-none {
  display: none;
}

.controls {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
  z-index: 4;
  height: 10%;

  @media($breakpoint-desktop) {
    padding: 5vh 12vw 24px 6vw;
  }

  &.disabled {
    z-index: 0;
  }

  img {
    cursor: pointer;

    @media($breakpoint-desktop) {
      height: 54px;
      width: 54px;
    }
  }
}

.stepper {
  height: 5px;
  background-color: #F1F1F1;
  border-radius: 45px;

  @media ($breakpoint-desktop) {
    margin: 46px 100px 0px auto;
  }

  .progress {
    height: 5px;
    background-color: $yellow-primary;
    border-radius: 45px;
    transition: all 1s;
  }
}

.menu-careers {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;

  .overlay-menu {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    transform: translateY(-110%);
    background: rgba(255, 255, 255, 1);
    transition: transform .4s ease-in-out,visibility 0s .4s;
  }

  &--open {
    visibility: visible;
    top: 0;
    z-index: 3;

    .overlay-menu {
      transform: translateY(0);
      transition: transform .4s ease-in-out;
    }
  }
}

.show-step {
  opacity: 1;
  transform: translateX(0px);
  transition: all 1s;
}

.hidden-step {
  opacity: 0;
  transform: translateX(-500px);
  transition: all 1s;
  max-height: 100%;
  overflow: hidden;

  @media ($breakpoint-desktop) {
    transform: translateX(-2000px);
  }
}

.hidden-step-large {
  opacity: 0;
  transform: translateY(-5000px);
  transition: all 1s;

  @media ($breakpoint-desktop) {
    transform: translateY(-5000px);
  }
}

.step-1, .step-2 {
  position: absolute;
  height: 100%;
  width: 100vw;
  padding: 0px 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media ($breakpoint-desktop) {
    padding: 0px 10vw
  }

  button {
    @include text-style("TTInterfaces Bold", 700, 18px, normal, 0.54px);
    text-decoration: none;
    background-color: $neutral-black;
    color: $neutral-white;
    outline: none;
    border: 1px solid transparent;
    border-radius: 45px;
    display: inline-block;
    padding: 18px 28px;
    margin-bottom: 32px;
    width: fit-content;
    cursor: pointer;

    @media ($breakpoint-desktop) {
      margin-top: 32px;
      padding: 25px 62px;
    }

    &:hover {
      background-color: $neutral-white;
      color: $neutral-black;
      border: 1px solid #FAD100;
    }
    &:active {
      background-color: #FAD100;
      color: $neutral-black;
      border: 1px solid #FAD100;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: calc(10vh + 32px) 0 auto 0; /* Fallback for browsers that do not support Custom Properties */
    margin: calc((var(--vh, 1vh) * 10 + 32px)) 0 auto 0;
    width: 100%;

    @media ($breakpoint-desktop) {
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      margin: auto;
    }
    
    img {
      width: 121px;
      height: 170px;
      margin-bottom: 48px;

      @media ($breakpoint-desktop) {
        width: 246px;
        height: 346px; 
      }
    }
  
    .text-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media ($breakpoint-desktop) {
        align-self: center;
      }

      p.title {
        @include text-style("TTInterfaces Bold", 700, 24px, 1.34);
        max-width: 290px;

        @media ($breakpoint-desktop) {
          max-width: 370px;
        }
      }

      p.subtitle {
        @include text-style("TTInterfaces DemiBold", 600, 18px, 1.45);
        margin-top: 8px;

        @media ($breakpoint-desktop) {
          @include text-style("TTInterfaces", 400, 24px, 1.5);
          max-width: 370px;
        }
      }
    }
  }
}

.step-3, .step-12-designer, .step-13 {
  position: absolute;
  height: 100%;
  width: 100vw;
  padding: 0px 7vw;
  display: flex;
  flex-direction: column;

  @media($breakpoint-desktop) {
    padding: 7vh 9vw;
  }

  .container {
    margin: calc(10vh + 32px) 0 auto 0; /* Fallback for browsers that do not support Custom Properties */
    margin: calc((var(--vh, 1vh) * 10 + 32px)) 0 auto 0;
    width: 100%;

    @media ($breakpoint-desktop) {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      justify-content: space-around;
      margin: auto;

      .right-side {
        width: 60%;
        border-radius: 30px;
        border: 1px solid $grey-medium;
        display: flex;
        flex-direction: column;

        .wrapper {
          padding: 0px 13%;
          margin: auto 0px
        }

        button {
          padding: 18px 48px;
          margin: 0px 48px 32px 0px;
        }
      }
    }
  }

  .left-side {
    margin-bottom: 46px;

    @media ($breakpoint-desktop) {
      width: 40%;
        margin: auto;
        text-align: left;
        padding-right: 50px;
    }

    p.title {
      @include text-style("TTInterfaces Bold", 700, 24px, 1.34);
      margin-bottom: 8px;

      @media ($breakpoint-desktop) {
        @include text-style("TTInterfaces DemiBold", 600, 32px, 1.44);
        margin-bottom: 12px;
      }
    }
    p.subtitle {
      @include text-style("TTInterfaces Medium", 500, 12px, 1.5);
      color: $neutral-dark-grey;
    }
  }
  
  .card {
    width: 100%;
    display: flex;
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    margin: 18px 0px;
    padding: 0px 32px;
    height: 168px;
    cursor: pointer;
    &:hover {
      border: 1px solid $yellow-primary;
    }

    @media ($breakpoint-desktop) {
      height: 188px;
    }

    span {
      @include text-style("TTInterfaces DemiBold", 600, 18px, 1.45);
      margin: auto;

      @media ($breakpoint-desktop) {
        @include text-style("TTInterfaces", 400, 24px, 1.5);
      }
    }
    &.selected { background-color: $yellow-primary; border-color: $yellow-primary;}
  }

  button {
    @include text-style("TTInterfaces Bold", 700, 14px, 1.35, 0.54px);
    text-decoration: none;
    background-color: $neutral-white;
    color: $neutral-black;
    outline: none;
    border-radius: 15px;
    display: inline-block;
    padding: 24px;
    width: 100%;
    border: 0px;
    cursor: pointer;
    &.disabled {
      color: $grey-medium;
    }
    
    @media ($breakpoint-desktop) {
      padding: 25px 62px;
      width: fit-content;
      align-self: flex-end;
    }
  }
}

.step-4 {
  position: absolute;
  height: 100%;
  width: 100vw;
  padding: 0px 7vw;
  display: flex;
  flex-direction: column;

  @media($breakpoint-desktop) {
    padding: 7vh 9vw;
  }

  .container {
    margin: calc(10vh + 32px) 0 auto 0; /* Fallback for browsers that do not support Custom Properties */
    margin: calc((var(--vh, 1vh) * 10 + 32px)) 0 auto 0;
    width: 100%;

    @media ($breakpoint-desktop) {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      justify-content: space-around;
      margin: auto;

      .right-side {
        width: 60%;
        border-radius: 30px;
        border: 1px solid $grey-medium;
        display: flex;
        flex-direction: column;

        .wrapper {
          padding: 0px 13%;
          margin: auto 0px
        }

        button {
          padding: 18px 48px;
          margin: 0px 48px 32px 0px;
        }
      }
    }
  }

  .left-side {
    margin-bottom: 46px;

    @media ($breakpoint-desktop) {
      width: 40%;
      margin: auto;
      text-align: left;
      padding-right: 50px;
    }

    p.title {
      @include text-style("TTInterfaces Bold", 700, 24px, 1.34);
      margin-bottom: 8px;

      @media ($breakpoint-desktop) {
        @include text-style("TTInterfaces DemiBold", 600, 32px, 1.44);
          margin-bottom: 12px;
      }
    }
    p.subtitle {
      @include text-style("TTInterfaces Medium", 500, 12px, 1.5);
      color: $neutral-dark-grey;
    }
  }

  .options-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .card {
      border: 1px solid #e1e1e1;
      border-radius: 15px;
      margin: 9px 0px;
      padding: 16px 0px;
      width: 48%;
      cursor: pointer;
      &:nth-child(odd){
        margin-right: 11px;
      }
      &:hover {
        border: 1px solid $yellow-primary;
      }
      span {
        @include text-style("TTInterfaces DemiBold", 600, 18px, 1.45);

        @media ($breakpoint-desktop) {
          @include text-style("TTInterfaces", 400, 24px, 1.5);
        }
      }
      &.selected { background-color: $yellow-primary; border-color: $yellow-primary;}
    }
  }
  button {
    @include text-style("TTInterfaces Bold", 700, 14px, 1.35, 0.54px);
    text-decoration: none;
    background-color: $neutral-white;
    color: $neutral-black;
    outline: none;
    border-radius: 45px;
    display: inline-block;
    padding: 24px;
    width: 100%;
    border: 0px;
    cursor: pointer;
    &.disabled {
      color: $grey-medium;
    }
    
    @media ($breakpoint-desktop) {
      width: fit-content;
      align-self: flex-end;
    }
  }
}

.step-5, .step-6, .step-7, .step-8, .step-9 {
  position: absolute;
  height: 100%;
  width: 100vw;
  padding: 0px 7vw;
  display: flex;
  flex-direction: column;

  @media($breakpoint-desktop) {
    padding: 7vh 9vw;
  }

  .container {
    margin: calc(10vh + 32px) 0 auto 0; /* Fallback for browsers that do not support Custom Properties */
    margin: calc((var(--vh, 1vh) * 10 + 32px)) 0 auto 0;
    width: 100%;

    @media ($breakpoint-desktop) {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      justify-content: space-around;
      margin: auto;

      .right-side {
        width: 60%;
        border-radius: 30px;
        border: 1px solid $grey-medium;
        display: flex;
        flex-direction: column;

        .wrapper {
          padding: 0px 13%;
          margin: auto 0px
        }

        button {
          padding: 18px 48px;
          margin: 0px 48px 32px 0px;
        }
      }
    }
  }

  .left-side {
    margin-bottom: 46px;

    @media ($breakpoint-desktop) {
      width: 40%;
      margin: auto;
      text-align: left;
      padding-right: 50px;
    }

    p.title {
      @include text-style("TTInterfaces Bold", 700, 24px, 1.34);

      @media ($breakpoint-desktop) {
        @include text-style("TTInterfaces DemiBold", 600, 32px, 1.44);
      }
    }
  }

  .card {
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 15px;
    margin: 18px 0px;
    padding: 16px 0px;
    cursor: pointer;
    &:hover {
      border: 1px solid $yellow-primary;
    }
    span {
      @include text-style("TTInterfaces DemiBold", 600, 18px, 1.45);

      @media ($breakpoint-desktop) {
        @include text-style("TTInterfaces", 400, 24px, 1.5);
      }
    }
    &.selected { background-color: $yellow-primary; border-color: $yellow-primary;}
  }
  button {
    @include text-style("TTInterfaces Bold", 700, 14px, 1.35, 0.54px);
    text-decoration: none;
    background-color: $neutral-white;
    color: $neutral-black;
    outline: none;
    border-radius: 45px;
    display: inline-block;
    padding: 24px;
    width: 100%;
    border: 0px;
    cursor: pointer;
    &.disabled {
      color: $grey-medium;
    }
    
    @media ($breakpoint-desktop) {
      width: fit-content;
      align-self: flex-end;
    }
  }
}

.step-10, .step-11, .step-12-engineer {
  position: absolute;
  height: 100%;
  width: 100vw;
  padding: 0px 3vw 0px 7vw;
  display: flex;
  flex-direction: column;

  @media($breakpoint-desktop) {
    padding: 7vh 9vw;
  }

  .container {
    margin: calc(10vh + 32px) 0 auto 0; /* Fallback for browsers that do not support Custom Properties */
    margin: calc((var(--vh, 1vh) * 10 + 32px)) 0 auto 0;
    width: 100%;
    height: 55%;

    @media ($breakpoint-desktop) {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      justify-content: space-around;
      margin: auto;
    }

    .left-side {
      margin-bottom: 46px;

      @media ($breakpoint-desktop) {
        width: 40%;
        margin: auto;
        text-align: left;
        padding-right: 50px;
      }

      p.title {
        @include text-style("TTInterfaces Bold", 700, 24px, 1.34);

        @media ($breakpoint-desktop) {
          @include text-style("TTInterfaces DemiBold", 600, 32px, 1.44);
        }
      }
    }

    .right-side {
      margin-top: 48px;
      height: 75%;

      @media ($breakpoint-desktop) {
        width: 60%;
        height: 100%;
        margin-top: 0px;
        border-radius: 30px;
        border: 1px solid $grey-medium;
        display: flex;
        flex-direction: column;
      }

      .wrapper {
        height: 100%;

        @media ($breakpoint-desktop) {
          padding: 0px 13%;
          margin: auto 0px;
          height: 55%;
        }
      }

      button {
        @media ($breakpoint-desktop) {
          padding: 18px 48px;
          margin: 0px 48px 32px 0px;
        }
      }
    }
  }

  .scroll {
    overflow-x: hidden; 
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100%;
    // ALWAYS SHOW THE SCROLLBAR
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid white;
      background-color: #eaeaea;
    }
    //
    .card {
      border: 1px solid #e1e1e1;
      border-radius: 15px;
      padding: 16px;
      transition: all 0.25s;
      &-hitbox {
        width: 95%;
        margin: 8px 0px;
        //border-radius: 15px;
        //border: 1px solid transparent;
        cursor: pointer;
        &.w0 {
          &:hover {
            //border: 1px solid $yellow-primary;
          }
        }
      }
      
      span {
        @include text-style("TTInterfaces DemiBold", 600, 18px, 1.45);

        @media ($breakpoint-desktop) {
          @include text-style("TTInterfaces", 400, 24px, 1.5);
        }
      }

      &.w0 { width: fit-content; min-width: 100%; color: $grey-medium; border-color: $grey-medium;}
      &.w25 { width: fit-content; min-width: 25%; border-color: $yellow-medium; }
      &.w50 { width: fit-content; min-width: 50%; background-color: $yellow-light; border-color: $yellow-light; }
      &.w75 { width: fit-content; min-width: 75%; background-color: $yellow-medium; border-color: $yellow-medium;}
      &.w100 { width: fit-content; min-width: 100%; background-color: $yellow-primary; border-color: $yellow-primary;}

    }
  }
  
  button {
    @include text-style("TTInterfaces Bold", 700, 14px, 1.35, 0.54px);
    text-decoration: none;
    background-color: $neutral-white;
    color: $neutral-black;
    outline: none;
    border: 0;
    border-radius: 45px;
    display: inline-block;
    padding: 24px;
    width: 100%;
    border: 0px;
    cursor: pointer;
    &.disabled {
      color: $grey-medium;
    }
    
    @media ($breakpoint-desktop) {
      width: fit-content;
      align-self: flex-end;
    }
  }
}

.step-14 {
  position: absolute;
  height: 100%;
  width: 100vw;
  padding: 0px 7vw;
  display: flex;
  flex-direction: column;

  @media($breakpoint-desktop) {
    padding: 7vh 9vw;
  }

  .container {
    margin: calc(10vh + 32px) 0 auto 0; /* Fallback for browsers that do not support Custom Properties */
    margin: calc((var(--vh, 1vh) * 10 + 32px)) 0 auto 0;
    width: 100%;

    @media ($breakpoint-desktop) {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      justify-content: space-around;
      margin: auto;
    }

    .left-side {
      margin-bottom: 46px;

      @media ($breakpoint-desktop) {
        width: 40%;
        margin: auto;
        text-align: left;
        padding-right: 50px;
      }

      p.title {
        @include text-style("TTInterfaces Bold", 700, 24px, 1.34);

        @media ($breakpoint-desktop) {
          @include text-style("TTInterfaces DemiBold", 600, 32px, 1.44);
        }
      }
    }
  
    .right-side {
      @media ($breakpoint-desktop) {
        width: 60%;
        border-radius: 30px;
        border: 1px solid $grey-medium;
        display: flex;
        flex-direction: column;
      }

      .wrapper {
        @media ($breakpoint-desktop) {
          padding: 0px 13%;
          margin: auto 0px;
        }

        p.person {
          @include text-style("TTInterfaces", 400, 24px, 1.5);
          white-space: break-spaces;
  
          span {
            border-bottom: 1px solid;
            caret-color: $brand-yellow;
            min-width: 80px;
            display: inline-block;
            &#formEmail {
              word-break: break-all;
            }
            &:focus {
              outline: none;
            }
          }
          @media ($breakpoint-desktop) {
            @include text-style("TTInterfaces", 400, 32px, 1.44);
          }
        }
        p.alert-fill {
          @include text-style("TTInterfaces Medium", 500, 16px, normal);
          color: $brand-yellow;
          margin-top: 8px;
        }
      }

      button {
        @media ($breakpoint-desktop) {
          padding: 18px 48px;
          margin: 0px 48px 32px 0px;
        }
      }
    }
  }

  button {
    @include text-style("TTInterfaces Bold", 700, 14px, 1.35, 0.54px);
    text-decoration: none;
    background-color: $neutral-white;
    color: $neutral-black;
    outline: none;
    border-radius: 15px;
    display: inline-block;
    padding: 24px;
    width: 100%;
    border: 0px;
    cursor: pointer;
    &.disabled {
      color: $grey-medium;
    }
    
    @media ($breakpoint-desktop) {
      width: fit-content;
      align-self: flex-end;
    }
  }
}

.step-15 {
  position: absolute;
  height: 100%;
  width: 100vw;
  padding: 0px 7vw;
  display: flex;
  flex-direction: column;

  @media($breakpoint-desktop) {
    padding: 7vh 9vw;
  }

  .container {
    margin: calc(10vh + 32px) 0 auto 0; /* Fallback for browsers that do not support Custom Properties */
    margin: calc((var(--vh, 1vh) * 10 + 32px)) 0 auto 0;
    width: 100%;

    @media ($breakpoint-desktop) {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      justify-content: space-around;
      margin: auto;
    }

    .left-side {
      margin-bottom: 46px;

      @media ($breakpoint-desktop) {
        width: 40%;
        margin: auto;
        text-align: left;
        padding-right: 50px;
      }
      p.title {
        @include text-style("TTInterfaces Bold", 700, 24px, 1.34);

        @media ($breakpoint-desktop) {
          @include text-style("TTInterfaces DemiBold", 600, 32px, 1.44);
        }
      }
    }
  
    .right-side {
      @media ($breakpoint-desktop) {
        width: 60%;
        border-radius: 30px;
        border: 1px solid $grey-medium;
        display: flex;
        flex-direction: column;
      }

      .wrapper {
        @media ($breakpoint-desktop) {
          padding: 0px 13%;
          margin: auto 0px;
        }

        p {
          @include text-style("TTInterfaces DemiBold", 600, 18px, 1.45);
          margin-bottom: 16px;
          &.second-question {
            margin-top: 32px;
          }
          @media ($breakpoint-desktop) {
            @include text-style("TTInterfaces", 400, 24px, 1.44);
          }
        }
      }

      button {
        @media ($breakpoint-desktop) {
          padding: 18px 48px;
          margin: 0px 48px 32px 0px;
        }
      }
    }
  }

  .options-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .card {
      border: 1px solid #e1e1e1;
      border-radius: 15px;
      margin: 9px 0px;
      padding: 16px 0px;
      width: 48%;
      cursor: pointer;
      &:nth-child(odd){
        margin-right: 11px;
      }
      &:hover {
        border: 1px solid $yellow-primary;
      }
      span {
        @include text-style("TTInterfaces DemiBold", 600, 18px, 1.45);

        @media ($breakpoint-desktop) {
          @include text-style("TTInterfaces", 400, 24px, 1.5);
        }
      }
      &.selected { background-color: $yellow-primary; border-color: $yellow-primary;}
    }
  }
  button {
    @include text-style("TTInterfaces Bold", 700, 14px, 1.35, 0.54px);
    text-decoration: none;
    background-color: $neutral-white;
    color: $neutral-black;
    outline: none;
    border-radius: 45px;
    display: inline-block;
    padding: 24px;
    width: 100%;
    border: 0px;
    cursor: pointer;
    &.disabled {
      color: $grey-medium;
    }
    
    @media ($breakpoint-desktop) {
      width: fit-content;
      align-self: flex-end;
    }
  }
}

.step-16 {
  position: absolute;
  padding: 80px 7vw;
  min-height: 100vh;
  width: 100%;

  @media($breakpoint-desktop) {
    padding: 5vh 7vw;
  }

  .container {
    @media ($breakpoint-desktop) {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-around;
    }

    .left-side {
      @media ($breakpoint-desktop) {
        text-align: left;
        padding-right: 50px;
        width: 50%;
      }

      p.title {
        @include text-style("TTInterfaces Bold", 700, 24px, 1.34);

        @media ($breakpoint-desktop) {
          @include text-style("TTInterfaces DemiBold", 600, 32px, 1.44);
        }
      }
  
      .card-summary {
        width: 100%;
        border: 1px solid #e1e1e1;
        border-radius: 30px;
        margin: 46px 0px;
        padding: 18px;
  
        p {
          @include text-style("TTInterfaces DemiBold", 600, 18px, 1.45);
          margin: 4px 0px;
          text-align: left;
  
          @media($breakpoint-desktop) {
            @include text-style("TTInterfaces", 400, 24px, 1.5);
          }
  
          &#name {
            @include text-style("TTInterfaces Bold", 700, 24px, 1.34);
  
            @media ($breakpoint-desktop) {
              @include text-style("TTInterfaces Bold", 700, 32px, normal);
            }
          }
        }
      }
  
      p.subtitle {
        @include text-style("TTInterfaces DemiBold", 600, 18px, 1.45);
        margin-top: 32px;
        margin-bottom: 12px;
      }
  
      .top-selected-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
    
        .card {
          flex: 0 0 auto;
          border: 1px solid #e1e1e1;
          border-radius: 15px;
          padding: 18px;
          width: fit-content;
          margin-right: 11px;
    
          span {
            @include text-style("TTInterfaces Bold", 700, 24px, 1.34);
            display: block;
            text-align: left;
            margin-bottom: 0px;
          }
          p {
            @include text-style("TTInterfaces Bold", 700, 12px, 1.5);
            margin: 0px;
            text-align: left;
          }
          
          &.w0 { color: $grey-medium; border-color: $grey-medium;}
          &.w25 { border-color: $yellow-medium; }
          &.w50 { background-color: $yellow-light; border-color: $yellow-light; }
          &.w75 { background-color: $yellow-medium; border-color: $yellow-medium;}
          &.w100 { background-color: $yellow-primary; border-color: $yellow-primary;}
        }
      }
    }
  
    .right-side {
      @media ($breakpoint-desktop) {
        width: 50%;
        padding: 56px 80px 56px 80px;
      }

      p.subtitle {
        @include text-style("TTInterfaces DemiBold", 600, 18px, 1.45);
        margin-top: 46px;
        margin-bottom: 12px;

        @media ($breakpoint-desktop) {
          @include text-style("TTInterfaces DemiBold", 600, 18px, 1.45);
        }
      }
      p.feel-productive {
        @include text-style("TTInterfaces", 400, 24px, 1.5);
        text-decoration: underline;
        margin-bottom: 48px;

        @media ($breakpoint-desktop) {
          margin-bottom: 56px;
        }
      }
  
      .like-to-learn-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    
        .card {
          flex: 0 0 auto;
          border: 1px solid #e1e1e1;
          border-radius: 15px;
          margin: 12px 0px;
          padding: 18px;
          width: 100%;
          margin-right: 11px;
          background-color: $grey-medium; border-color: $grey-medium;
    
          span {
            @include text-style("TTInterfaces Bold", 700, 24px, 1.34);
            display: block;
            text-align: left;
            margin-bottom: 0px;

            @media ($breakpoint-desktop) {
              @include text-style("TTInterfaces Bold", 700, 24px, 1.34);
            }
          }
          p {
            @include text-style("TTInterfaces Bold", 700, 12px, 1.5);
            margin: 0px;
            text-align: left;

            @media ($breakpoint-desktop) {
              @include text-style("TTInterfaces Medium", 500, 12px, 1.5);
            }
          }
        }
      }
    }
  }

  button {
    @include text-style("TTInterfaces Bold", 700, 18px, normal, 0.54px);
    text-decoration: none;
    background-color: $neutral-black;
    color: $neutral-white;
    outline: none;
    border: 0;
    border-radius: 45px;
    display: block;
    padding: 18px 28px;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;

    &.outline {
      background-color: $neutral-white;
      color: $neutral-black;
    }
    
    @media ($breakpoint-desktop) {
      margin-top: 0px;
      padding: 25px 62px;
    }
  }
}


.thanks-modal {
  display: none;
  position: absolute;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  &.show {
    display: block;
  }
}

.modal-content {
  background-color: $neutral-white;
  margin: auto;
  width: 90%;
  border-radius: 30px;
  position: absolute;
  left: 5%;
  bottom: 20%;

  @media ($breakpoint-desktop){
    width: 70%;
    position: relative;
    left: 0;
    bottom: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;

    @media ($breakpoint-desktop) {
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      padding: 200px 100px;
    }

    img {
      width: 134px;
      height: 119px;

      @media ($breakpoint-desktop) {
        width: 220px;
        height: 195px;
        margin-right: 116px;
      }
    }
  
    .text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @media ($breakpoint-desktop) {
        align-self: center;
      }

      span {
        @include text-style("TTInterfaces Bold", 700, 24px, 1.34);
        max-width: 290px;
        margin-top: 48px;

        @media ($breakpoint-desktop) {
          max-width: 370px;
        }
      }

      p {
        @include text-style("TTInterfaces DemiBold", 600, 18px, 1.45);
        margin-top: 16px;

        @media ($breakpoint-desktop) {
          @include text-style("TTInterfaces", 400, 24px, 1.5);
          max-width: 370px;
        }
      }

      button {
        @include text-style("TTInterfaces Bold", 700, 18px, normal, 0.54px);
        text-decoration: none;
        background-color: $neutral-black;
        color: $neutral-white;
        outline: none;
        border: 0;
        border-radius: 45px;
        display: inline-block;
        padding: 18px 28px;
        margin-top: 24px;
        width: fit-content;
        cursor: pointer;
        
        @media ($breakpoint-desktop) {
          padding: 25px 62px;
        }
      }
    }
  }
}