.clients-section {
  padding: 100px 12vw 100px 12vw;

  @media ($breakpoint-desktop) {
    padding: 132px 23vw 146px 23vw;
  }

  h2 {
    @include text-style("TTInterfaces Medium", 38px, 1.26, -0.02px);
    margin-bottom: 64px;

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces Medium", 44px, normal, -0.03px);
      margin-bottom: 90px;
    }

    @media ($breakpoint-desktop-x-large) {
      @include text-style("TTInterfaces Medium", 56px, normal, -0.03px);
      margin-bottom: 90px;
    }
  }

  .clients-list {
    @media ($breakpoint-desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1rem;
      margin: auto;
    }

    &--client {
      margin-bottom: 48px;

      img {
        height: 31px;  
        margin: 0;
        margin-bottom: .8rem;

        @media ($breakpoint-desktop) {
          height: 35px;
        }
      }

      p {
        @include text-style("TTInterfaces", 20px, normal, 0.29px);

        @media ($breakpoint-desktop) {
          @include text-style("TTInterfaces", 24px, 1.5, -0.01px);
          width: 90%;
        }
      }
    }
  }
}