.values-list-section {
  padding: 0px 12vw;

  @media ($breakpoint-desktop) {
    padding: 0px 30vw;
  }

  h2 {
    @include text-style("TTInterfaces DemiBold", 600, 42px, 1.17);

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces Medium", 500, 56px, 1.25);
    }
  }

  p {
    @include text-style("TTInterfaces", 400, 24px, 1.5);

    @media ($breakpoint-desktop) {
      max-width: 900px;
    }
  }

  img {
    width: 150px;
    height: 60px;

    @media ($breakpoint-desktop) {
      width: 150px;
      height: 70px;
    }
  }
}