.values-list-section {
  padding: 0px 12vw;

  @media ($breakpoint-desktop) {
    padding: 0px 30vw;
  }

  h2 {
    @include text-style("TTInterfaces DemiBold", 42px, 1.17, -0.02px);

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces Medium", 56px, 1.25, -0.03px);
    }
  }

  p {
    @include text-style("TTInterfaces", 24px, 1.5, -0.01px);

    @media ($breakpoint-desktop) {
      max-width: 900px;
    }
  }

  img {
    width: 150px;
    height: 60px;

    @media ($breakpoint-desktop) {
      width: 150px;
      height: 70px;
    }
  }
}