@font-face {
  font-family: "TTInterfaces";
  src: url("../fonts/TT_Interfases/TTInterfaces-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: "TTInterfaces Bold";
  src: url("../fonts/TT_Interfases/TTInterfaces-Bold.otf");
  font-display: swap;
}

@font-face {
  font-family: "TTInterfaces Medium";
  src: url("../fonts/TT_Interfases/TTInterfaces-Medium.otf");
  font-display: swap;
}

@font-face {
  font-family: "TTInterfaces DemiBold";
  src: url("../fonts/TT_Interfases/TTInterfaces-DemiBold.otf");
  font-display: swap;
}
