@import "./mixins";

.values-list-section {
  padding-bottom: 80px;
  h2 {
    @include text-style("TTInterfaces Medium", 500, 42px, 1.17);
  }

  p {
    @include text-style("TTInterfaces", 400, 24px, 1.5);
  }

  @media (min-width: 992px) {
    h2 {
      font-size: 56px;
      line-height: 1.25;
    }
    p {
      max-width: 900px;
    }
  }
}