@import "./mixins";

.values-list-section {
  padding: 0px 12vw;
  h2 {
    @include text-style("TTInterfaces DemiBold", 600, 42px, 1.17);
  }

  p {
    @include text-style("TTInterfaces", 400, 24px, 1.5);
  }

  img {
    width: 150px;
    height: 60px;
  }

  @media (min-width: 992px) {
    padding: 0px 30vw;
    h2 {
      @include text-style("TTInterfaces Medium", 500, 56px, 1.25);
    }
    p {
      max-width: 900px;
    }
    img {
      width: 150px;
      height: 70px;
    }
  }
}