@import "./variables.scss";
@import "./mixins";

@import "./components/careersForm";

.want-to-be-part-section {
  padding: 120px 6vw 20px 6vw;

  @media ($breakpoint-desktop) {
    padding: 170px 22vw 0px 23vw;
  }

  @media ($breakpoint-desktop-x-large) {
    padding: 254px 22vw 30px 23vw;
  }

  h2 {
    @include text-style("TTInterfaces Medium", 38px, 1.26, -0.02px);
    margin-bottom: 0;

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces Medium", 44px, 1.25, -0.03px);
    }

    @media ($breakpoint-desktop-x-large) {
      @include text-style("TTInterfaces Medium", 56px, 1.25, -0.03px);
    }

    br {
      display: none;

      @media ($breakpoint-desktop) {
        display: block;
      }
    }
  }

  p {
    @include text-style("TTInterfaces", 24px, 1.5, -0.01px);
    margin-top: 24px;

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces", 28px, 1.5, -0.02px);
      margin-top: 32px;
    }

    @media ($breakpoint-desktop-x-large) {
      @include text-style("TTInterfaces", 32px, 1.5, -0.02px);
      margin-top: 32px;
    }
  }

  button {
    @include text-style("TTInterfaces Bold", 18px, normal, 0.54px);
    text-decoration: none;
    background-color: $neutral-black;
    color: $neutral-white;
    outline: none;
    border: 1px solid transparent;
    border-radius: 45px;
    display: inline-block;
    margin-top: 32px;
    padding: 18px 28px;
    cursor: pointer;
    &:hover {
      background-color: $neutral-white;
      color: $neutral-black;
      border: 1px solid #FAD100;
    }
    &:active {
      background-color: #FAD100;
      color: $neutral-black;
      border: 1px solid #FAD100;
    }
    
    @media ($breakpoint-desktop) {
      margin-top: 32px;
      padding: 20px 30px;
    }

    @media ($breakpoint-desktop-x-large) {
      margin-top: 64px;
      padding: 25px 35px;
    }
  }
}

.photo-section {
  padding: 64px 6vw;

  @media ($breakpoint-desktop) {
    padding: 100px 10vw 0px 10vw;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.we-promise {
  p.title {
    @include text-style("TTInterfaces Medium", 38px, 1.27, -0.02px);
    text-align: center;
    margin-bottom: 46px;
  }

  .cards-container {
    padding: 0px 6vw;
    .card {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: fit-content;
      height: fit-content;

      &:not(:nth-last-child(2)) {
        margin-bottom: 46px;
      }

      div {
        background-color: $brand-yellow;
        min-height: 80px;
        width: 80px;
        border-radius: 45px;
        display: flex;
        span {
          margin: auto 0;
          padding: 0px 24px;
          font-size: 32px;
        }
      }

      p {
        @include text-style("TTInterfaces", 24px, 1.5, -0.01px);
        margin: 12px 0px 0px 0px;
      }
    }
  }
}

.horizontalSection {
  position: relative;
  width: 100%;
  min-height: 100vh;

  .cardsContainer {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0 calc(50vw - 568px / 2);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;

    .card {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      min-width: 568px;
    
      &:not(:last-child) {
        margin-right: 200px;
      }
    
      div {
        background-color: $brand-yellow;
        min-height: 80px;
        width: 80px;
        border-radius: 45px;
        display: flex;
        span {
          margin: auto 0;
          padding: 0px 24px;
          font-size: 32px;
        }
      }
    
      p {
        @include text-style("TTInterfaces", 32px, 1.44, 0.01px);
        max-width: 568px;
      }
    }
  }
}

.we-also-offer {
  margin-top: 146px;
  padding: 0px 6vw;

  @media($breakpoint-desktop) {
    margin-top: 70px;
    padding: 0px 10vw;
    display: flex;
    flex-direction: row;
  }

  p.title {
    @include text-style("TTInterfaces Medium", 38px, 1.27, -0.02px);
    text-align: center;
    margin-bottom: 46px;

    @media($breakpoint-desktop){
      @include text-style("TTInterfaces", 44px, 1.25, -0.01px);
      margin: 80px 132px 0px 0px;
      width: 35%;
    }

    @media($breakpoint-desktop-x-large){
      @include text-style("TTInterfaces", 56px, 1.25, -0.01px);
      margin: 80px 132px 0px 0px;
      width: 35%;
    }
  }

  .perks-container {
    background-color: $neutral-medium-grey;
    border-radius: 30px;
    padding: 46px 16px;

    @media($breakpoint-desktop) {
      padding: 80px 36px;
      width: 65%;
    }

    .perk {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      &:not(:last-child) {
        margin-bottom: 32px;

        @media($breakpoint-desktop) {
          margin-bottom: 46px;
        }
      }

      div {
        margin-right: 12px;

        @media($breakpoint-desktop) {
          margin-right: 32px;
        }

        span {
          font-size: 24px;

          @media($breakpoint-desktop) {
            font-size: 32px;
          }
        }
      }

      p {
        @include text-style("TTInterfaces", 24px, 1.5, -0.01px);
        margin-bottom: 0px;

        @media($breakpoint-desktop) {
          @include text-style("TTInterfaces", 28px, 1.44, -0.01px);
          margin-bottom: 0px;
        }

        @media($breakpoint-desktop-x-large) {
          @include text-style("TTInterfaces", 32px, 1.44, -0.01px);
          margin-bottom: 0px;
        }
      }
    }
  }
}

.start-section {
  padding: 64px 5vw 80px 5vw;
  
  @media ($breakpoint-desktop) {
    padding: 124px 10vw 80px 10vw;
  }

  .start-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    padding: 32px;

    @media ($breakpoint-desktop) {
      padding: 186px 168px;
      flex-direction: row;
      justify-content: space-around;
    }
    
    img {
      width: 139px;
      height: 199px;
      margin-bottom: 48px;

      @media ($breakpoint-desktop) {
        width: 200px;
        height: 286px;
        margin-bottom: 0px;
      }
    }
  
    .start-with-us {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media ($breakpoint-desktop) {
        align-self: center;
      }

      p {
        @include text-style("TTInterfaces Bold", 24px, 1.34, -0.01px);
        max-width: 290px;

        @media ($breakpoint-desktop) {
          @include text-style("TTInterfaces DemiBold", 32px, 1.44, -0.02px);
          max-width: 370px;
        }
      }

      button {
        @include text-style("TTInterfaces Bold", 18px, normal, 0.54px);
        text-decoration: none;
        background-color: $neutral-black;
        color: $neutral-white;
        outline: none;
        border: 1px solid transparent;
        border-radius: 45px;
        display: inline-block;
        margin-top: 32px;
        padding: 18px 28px;
        width: fit-content;
        cursor: pointer;

        @media ($breakpoint-desktop) {
          padding: 25px 62px;
        }

        &:hover {
          background-color: $neutral-white;
          color: $neutral-black;
          border: 1px solid #FAD100;
        }
        &:active {
          background-color: #FAD100;
          color: $neutral-black;
          border: 1px solid #FAD100;
        }
      }
    }
  }
}