@import "./variables.scss";
@import "./mixins";

.client-card {
  padding: 152px 5vw 0px 5vw;

  @media ($breakpoint-desktop) {
    padding: 224px 16vw 0px 16vw;
  }

  > h2 {
    @include text-style("TTInterfaces Medium", 38px, 1.26, -0.02px);
    text-align: left;
    max-width: 700px;
    margin: auto;
    margin-bottom: 64px;
    padding: 0px 10vw;

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces Medium", 44px, normal, -0.03px);
      padding: 0px;
    }

    @media ($breakpoint-desktop-x-large) {
      @include text-style("TTInterfaces Medium", 56px, normal, -0.03px);
      padding: 0px;
    }
  }

  .container {
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    padding: 32px;

    @media ($breakpoint-desktop) {
      padding: 65px 100px;
    }

    .subscribe {
      
      > span {
        @include text-style("TTInterfaces Bold", 24px, 1.5, -0.01px);

        @media ($breakpoint-desktop) {
          @include text-style("TTInterfaces Bold", 28px, 1.44, -0.01px);
        }

        @media ($breakpoint-desktop-x-large) {
          @include text-style("TTInterfaces Bold", 32px, 1.44, -0.01px);
        }
      }
      > p {
        @include text-style("TTInterfaces", 24px, 1.5, -0.01px);
        margin-top: 12px;

        @media ($breakpoint-desktop) {
          @include text-style("TTInterfaces", 28px, 1.44, -0.01px);
          margin-top: 0px;
        }

        @media ($breakpoint-desktop-x-large) {
          @include text-style("TTInterfaces", 32px, 1.44, -0.01px);
          margin-top: 0px;
        }
      }
      img {
        width: 139px;
        height: 83px;

        @media ($breakpoint-desktop) {
          width: 149px;
          height: 93px;
        }
      }
      
      .program-a-call {
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;

        @media ($breakpoint-desktop) {
          grid-template-columns: 90% 10%;
        }

        > span {
          @include text-style("TTInterfaces Bold", 14px, 1.29, 0.54px);
          margin-left: auto;
        }

        a {
          margin-left: auto;
        }

        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

.talent-card {
  padding: 32px 5vw 0px 5vw;

  @media ($breakpoint-desktop) {
    padding: 64px 16vw 24px 16vw;    
  }

  .container {
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    padding: 32px;

    .subscribe {
      @media ($breakpoint-desktop) {
        padding: 32px 68px;
      }

      img {
        width: 139px;
        height: 83px;

        @media ($breakpoint-desktop) {
          width: 139px;
          height: 93px;
        }
      }
      
      > span {
        @include text-style("TTInterfaces Bold", 24px, 1.5, -0.01px);

        @media ($breakpoint-desktop) {
          @include text-style("TTInterfaces Bold", 28px, 1.44, -0.01px);
        }

        @media ($breakpoint-desktop-x-large) {
          @include text-style("TTInterfaces Bold", 32px, 1.44, -0.01px);
        }
      }

      .contact-form {
        p {
          @include text-style("TTInterfaces Medium", 24px, 1.5, -0.01px);
          margin-top: 45px;
          margin-bottom: 15px;

          @media ($breakpoint-desktop) {
            @include text-style("TTInterfaces DemiBold", 28px, 1.44, -0.01px);
            margin-top: 60px;
            margin-bottom: 20px;
          }

          @media ($breakpoint-desktop-x-large) {
            @include text-style("TTInterfaces DemiBold", 32px, 1.44, -0.01px);
            margin-top: 60px;
            margin-bottom: 20px;
          }
        }
        input {
          @include text-style("TTInterfaces", 20px, normal, 0.29px);
          border-radius: 0;
          border-width: 0px 0px 1px 0px;
          border-color: $neutral-dark-grey;
          caret-color: $brand-yellow;
          width: 100%;
          &:focus {
            outline: none;
          }

          @media ($breakpoint-desktop) {
            @include text-style("TTInterfaces", 32px, 1.44, -0.01px);
          }
        }
        form.form-job-searched {
          display: inline-block;

          @media ($breakpoint-desktop) {
            display: flex;
            justify-content: space-between;
          }

          .radio-button-inside {
            display: flex;
            align-items: center;
            img {
              width: 150px;
              height: 75px;
              margin-left: 0px;

              @media ($breakpoint-desktop) {
                height: 51px;
                width: 96px;
                margin-left: 0px;
              }
            }
            p {
              @include text-style("TTInterfaces Bold", 24px, 1.5, -0.01px);
              margin: 0;
            }
          }
        }
      }
  
      .program-a-call {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;

        @media ($breakpoint-desktop) {
          margin-top: 46px;
          grid-template-columns: 90% 10%;
        }

        > span {
          @include text-style("TTInterfaces Bold", 14px, 1.29, 0.54px);
          margin-left: auto;
        }

        img {
          width: 60px;
          height: 60px;
          margin-left: auto;
          cursor: pointer;
        }
      }
    }
  }
}


/*------*/

form.form-job-searched {
  [type="radio"]:checked,
  [type="radio"]:not(:checked){
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .checkbox-tools:checked + label,
  .checkbox-tools:not(:checked) + label {
    position: relative;
    display: inline-block;
    padding: 0px;
    width: 270px;
    height: 81px;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid $neutral-outline-grey;
    margin-bottom: 18px;
    
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;

    @media ($breakpoint-desktop) {
      width: 234px;
      padding: 10px;
      margin-bottom: 0px;
    }
  }

  .checkbox-tools:checked + label{
    background-color: $brand-yellow-light;
    border-color: $brand-yellow;
  }
}

form.form-years-experience {
  .dropdown {
    position: relative;
    display: inline-block;
  
    width: 270px;
    min-height: 55px;
    max-height: 55px;

    overflow: hidden;
    cursor: pointer;
    
    color: $neutral-black;
    border: 1px solid $neutral-outline-grey;
    border-radius: 9px;
    
    transition: .3s all ease-in-out;

    @media ($breakpoint-desktop) {
      width: 314px;
      min-height: 55px;
      max-height: 55px;
    }

    input {
      position: absolute;
      width: 0;
      height: 0;
      visibility: hidden;
    }
    label {
      @include text-style("TTInterfaces", 18px, 3, -0.01px);
      display: block;
      height: 55px;
      padding-left: 1em;
      padding-right: 3em;
      cursor: pointer;
      position: relative;
      transition: .3s color ease-in-out;

      @media ($breakpoint-desktop) {
        @include text-style("TTInterfaces", 20px, 2.5, -0.01px);
      }
    }
    
    &::after {
      content: "";
      position: absolute;
      right: 1em;
      top: 1.4em;
      border: .3em solid $neutral-black;
      border-color: $neutral-black transparent transparent transparent;
      transition: .4s all ease-in-out;
    }
    &.expanded {
      max-height: 20em;
      label {
        &:hover {
          background-color: $brand-yellow-light;
        }
        &:first-child:hover {
          background-color: transparent;
        }
      }
      input:checked + label {
        background-color: $brand-yellow-light;
      }
    }
  }
}

.confirmation-email {
  padding: 30vh 10vw 0px 10vw;
  text-align: center;
  h2 {
    @include text-style("TTInterfaces DemiBold", 42px, 1.17, -0.02px);

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces DemiBold", 80px, 1.1, -0.04px);   
      margin-bottom: 33px;
    }
  }
  img {
    @media ($breakpoint-desktop) {
      width: 367px;
      height: 138px;
    }
  }
  p {
    @include text-style("TTInterfaces DemiBold", 24px, 1.5, -0.01px);

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces", 56px, 1.25, -0.03px);
      margin-top: 35px;
    }
  }
}

.footer-contact .footer .divider { 
  height: 0px;
  margin: 0px
}