@import "./variables.scss";
@import "./mixins";

.client-card {
  padding: 152px 5vw 0px 5vw;

  > h2 {
    @include text-style("TTInterfaces Medium", 500, 38px, 1.26);
    text-align: left;
    max-width: 700px;
    margin: auto;
    margin-bottom: 64px;
    padding: 0px 10%;
  }

  @media (min-width: 992px) {
    padding: 224px 16vw 0px 16vw;
    > h2 {
      font-size: 56px;
      padding: 0px;
    }
  }

  .container {
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    padding: 32px;

    .subscribe {
      
      > span {
        @include text-style("TTInterfaces Bold", 700, 24px, 1.5);
      }
      > p {
        @include text-style("TTInterfaces", 400, 24px, 1.5);
        margin-top: 12px;
      }
      img {
        width: 139px;
        height: 83px;
      }
      
      .program-a-call {
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
        > span {
          @include text-style("TTInterfaces Bold", 700, 14px, 1.29);
          margin-left: auto;
        }

        a {
          margin-left: auto;
        }

        img {
          width: 60px;
          height: 60px;
        }
        
      }
    }

    @media (min-width: 992px) {
      padding: 65px 100px;
      .subscribe {
        > span {
          font-size: 32px;
          line-height: 1.44;
        }
        > p {
          font-size: 32px;
          line-height: 1.44;
          margin-top: 0px;
        }
        img {
          width: 149px;
          height: 93px;
        }
        .program-a-call {
          grid-template-columns: 90% 10%;
          > span {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.talent-card {
  padding: 32px 5vw 0px 5vw;

  @media (min-width: 992px) {
    padding: 64px 16vw 0px 16vw;    
  }

  .container {
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    padding: 32px;

    .subscribe {

      img {
        width: 139px;
        height: 83px;
      }
      
      > span {
        @include text-style("TTInterfaces Bold", 700, 24px, 1.5);
      }

      .contact-form {
        p {
          @include text-style("TTInterfaces Medium", 500, 24px, 1.5);
          margin-top: 45px;
          margin-bottom: 15px;
        }
        input {
          @include text-style("TTInterfaces", 400, 20px);
          border-radius: 0;
          border-width: 0px 0px 1px 0px;
          border-color: $neutral-dark-grey;
          caret-color: $brand-yellow;
          width: 100%;
          &:focus {
            outline: none;
          }
        }
        form.form-job-searched {
          display: inline-block;
          .radio-button-inside {
            display: flex;
            align-items: center;
            img {
              width: 150px;
              height: 75px;
              margin-left: 0px;
            }
            p {
              @include text-style("TTInterfaces Bold", 700, 24px, 1.5);
              margin: 0;
            }
          }
        }
        form.form-years-experience {
          
        }
      }

      @media (min-width: 992px) {
        img {
          width: 139px;
          height: 93px;
        }

        > span {
          font-size: 32px;
          line-height: 1.44;
        }
        .contact-form {
          p {
            @include text-style("TTInterfaces DemiBold", 600, 32px, 1.44);
            margin-top: 60px;
            margin-bottom: 20px;
          }
          input {
            @include text-style("TTInterfaces", 400, 32px, 1.44);
          }
          form.form-job-searched {
            display: flex;
            justify-content: space-between;
            .radio-button-inside {
              img {
                height: 51px;
                width: 96px;
                margin-left: 0px;
              }
              p {
                @include text-style("TTInterfaces Bold", 700, 24px, 1.5);
              }
            }
          }
          form.form-years-experience {
          
          }
        }  
      }
      
      .program-a-call {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
        > span {
          @include text-style("TTInterfaces Bold", 700, 14px, 1.29);
          margin-left: auto;
        }

        img {
          width: 60px;
          height: 60px;
          margin-left: auto;
          cursor: pointer;
        }
      }
    }

    @media (min-width: 992px) {
      padding: 65px 100px;
      > span {
        font-size: 32px;
        line-height: 1.44;
      }
      .subscribe {
        .program-a-call {
          margin-top: 46px;
          grid-template-columns: 90% 10%;
          > span {
            font-size: 14px;
          }
        }
      }
    }
  }
}


/*------*/

form.form-job-searched {
  [type="radio"]:checked,
  [type="radio"]:not(:checked){
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .checkbox-tools:checked + label,
  .checkbox-tools:not(:checked) + label {
    position: relative;
    display: inline-block;
    padding: 0px;
    width: 270px;
    height: 81px;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid $neutral-outline-grey;
    margin-bottom: 18px;
    
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear; 
    @media (min-width: 992px) {
      width: 234px;
      padding: 10px;
      margin-bottom: 0px;
    }
  }

  .checkbox-tools:checked + label{
    background-color: $brand-yellow-light;
    border-color: $brand-yellow;
  }
}

form.form-years-experience {
  .dropdown {
    position: relative;
    display: inline-block;
  
    width: 270px;
    min-height: 55px;
    max-height: 55px;

    overflow: hidden;
    cursor: pointer;
    
    color: $neutral-black;
    border: 1px solid $neutral-outline-grey;
    border-radius: 9px;
    
    transition: .3s all ease-in-out;

    @media (min-width: 992px) {
      width: 314px;
      min-height: 55px;
      max-height: 55px;
    }

    input {
      position: absolute;
      width: 0;
      height: 0;
      visibility: hidden;
    }
    label {
      @include text-style("TTInterfaces", 400, 18px);
      display: block;
      height: 55px;
      line-height: 2.9em;
      padding-left: 1em;
      padding-right: 3em;
      cursor: pointer;
      position: relative;
      transition: .3s color ease-in-out;
      @media (min-width: 992px) {
        font-size: 20px;
        line-height: 2.5em;
      }
    }
    
    &::after {
      content: "";
      position: absolute;
      right: 1em;
      top: 1.4em;
      border: .3em solid $neutral-black;
      border-color: $neutral-black transparent transparent transparent;
      transition: .4s all ease-in-out;
    }
    &.expanded {
      max-height: 20em;
      label {
        &:hover {
          background-color: $brand-yellow-light;
        }
        &:first-child:hover {
          background-color: transparent;
        }
      }
      input:checked + label {
        background-color: $brand-yellow-light;
      }
    }
  }
}

.confirmation-email {
  padding-top: 30vh;
  text-align: center;
  h2 {
    @include text-style("TTInterfaces DemiBold", 600, 42px, 1.17);
    @media (min-width: 992px) {
      @include text-style("TTInterfaces DemiBold", 600, 80px, 1.1);   
      margin-bottom: 33px;
    }
  }
  img {
    @media (min-width: 992px) {
      width: 367px;
      height: 138px;
    }
  }
  p {
    @include text-style("TTInterfaces DemiBold", 400, 24px, 1.5);
    @media (min-width: 992px) {
      @include text-style("TTInterfaces", 400, 56px, 1.25);
      margin-top: 35px;
    }
  }
}