@import "./variables.scss";
@import "./mixins";

@import "./photosGrid";
@import "./yellows";

.join-a-culture-section {
  padding-top: 202px;
  padding-bottom: 80px;

  h2 {
    @include text-style("TTInterfaces Medium", 500, 38px, 1.26);
    br {
      display: none;
    }
  }

  @media (min-width: 992px) {
    padding-top: 308px;
    padding-bottom: 147px;
    h2 {
      font-size: 56px;
      line-height: normal;
      br {
        display: block;
      }
    }
  }
}

.principles-section {
  .section-1 {
    padding-top: 80px;

    h2 {
      @include text-style("TTInterfaces Medium", 500, 38px, 1.26);
      &:not(:first-child) {
        margin-top: 100px;
      }
    }
  
    p {
      @include text-style("TTInterfaces", 400, 24px, 1.5);
      &:not(:last-child) {
        margin-bottom: 100px;
      }
    }

    @media (min-width: 992px) {
      padding-top: 82px;
      padding-bottom: 100px;
      display: grid;
      grid-template-columns: 1fr 1fr;
  
      h2 {
        margin-top: 0px !important;
        font-size: 56px;
        line-height: normal;
        &:first-child {
          padding-top: 366px;
        }
      }
      p {
        margin-bottom: 1.45rem !important;
      }
    }

    &--left {
      .statement {
        margin-bottom: 100px;
        @include text-style("TTInterfaces Bold", 700, 24px, 1.5);
        width: 314px;
        letter-spacing: -1.0px;
        @media (min-width: 992px) {
          padding-top: 142px;
          max-width: 330px;
          position: sticky;
          top: 4rem;
        }
      }
    }
  }
}

.we-are-our-values-section {
  .section-1 {
    padding-top: 146px;
    padding-bottom: 80px;

    p {
      @include text-style("TTInterfaces", 400, 24px, 1.5);
    }

    @media (min-width: 992px) {
      padding-top: 224px;
      padding-bottom: 146px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &--left {
      .statement {
        margin-bottom: 12px;
        @include text-style("TTInterfaces Medium", 500, 38px, 1.26);
      
        @media (min-width: 992px) {
          padding-top: 0px;
          margin-bottom: 90px;
          font-size: 56px;
          line-height: normal;
          max-width: 330px;
          position: sticky;
          top: 4rem;
        }
      }
    }
    &--right {
      @media (min-width: 992px) {
        padding-top: 140px;
      }
    }
  }
}

.subscribe-section {
  padding-top: 100px;
  > h2 {
    @include text-style("TTInterfaces", 400, 38px, 1.26);
    margin-bottom: 33px;
  }
  @media (min-width: 992px) {
    padding-top: 146px;
    padding-bottom: 145px;
    > h2 {
      font-size: 56px;
      line-height: 1.18;
      margin-bottom: 75px;
    }
  }
  .subscribe {
    img {
      height: 67px;
      width: 75px;
    }

    .form-email {
      margin-top: 23px;
      > span {
        @include text-style("TTInterfaces Medium", 500, 24px, 1.5);
        display: inline-block;
        margin-bottom: 46px;
      }
      span.suscribed {
        @include text-style("TTInterfaces Bold", 700, 24px, 1.5);  
      }
    }

    .email-input {
      border-width: 0px 0px 1px 0px;
      border-color: $neutral-dark-grey;
      width: 100%;
      @include text-style("TTInterfaces", 400, 20px);
      padding: 7px;

      &:focus {
        outline: none;
      }
    }

    .send-email {
      margin-top: 45px;
      display: grid;
      grid-template-columns: 75% 25%;
      align-items: center;
      > span {
        @include text-style("TTInterfaces", 400, 14px);
        color: $neutral-dark-grey;
      }
      
      img {
        margin-left: auto;
        width: 60px;
        height: 60px;
        cursor: pointer;
      }
      
    }

    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px 150px;
      max-width: 760px;

      img {
        height: 90px;
        width: 100px;
      }

      .form-email {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 70px;
        > span {
          @include text-style("TTInterfaces Bold", 700, 32px, 1.44);
        }
      }
    }
  }
}

.culture-footer {
  div.footer {
    > div.divider {
      margin-top: 0px;
    }

    @media (min-width: 992px) {
      padding-top: 50px;
      > div.footer--find-us {
        padding: 0px 14vw 0px 14vw;
        margin-bottom: 10px;
        max-width: none;
      }
      > div.footer--social-icons {
        padding: 0px 14vw 0px 14vw;
        margin: 0px 0px 85px 0px;
      }
    }
  }
}

