@import "./variables.scss";
@import "./mixins";

@import "./photosGrid";
@import "./yellows";

.join-a-culture-section {
  padding: 202px 12vw 80px 12vw;

  h2 {
    @include text-style("TTInterfaces Medium", 500, 38px, 1.26);
    br {
      display: none;
    }
  }

  @media (min-width: 992px) {
    padding: 308px 10vw 147px 10vw;
    h2 {
      font-size: 56px;
      line-height: normal;
      br {
        display: block;
      }
    }
  }
}

.principles-section {
  padding: 80px 12vw 100px 12vw;

  h2 {
    @include text-style("TTInterfaces Medium", 500, 38px, 1.26);
    &:not(:first-child) {
      margin-top: 100px;
    }
  }

  p {
    @include text-style("TTInterfaces", 400, 24px, 1.5);
    &:not(:last-child) {
      margin-bottom: 100px;
    }
  }

  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h2 {
      margin-top: 0px !important;
      font-size: 56px;
      line-height: normal;
      &:first-child {
        padding-top: 366px;
      }
    }
    p {
      margin-bottom: 1.45rem !important;
    }
  }

  .section--left {
    .statement {
      margin-bottom: 100px;
      @include text-style("TTInterfaces Bold", 700, 24px, 1.5);
      letter-spacing: -1.0px;
      @media (min-width: 992px) {
        padding-top: 142px;
        max-width: 330px;
        position: sticky;
        top: 4rem;
      }
    }
  }
}

.we-are-our-values-section {
  padding: 146px 12vw 80px 12vw;

  p {
    @include text-style("TTInterfaces", 400, 24px, 1.5);
  }

  @media (min-width: 992px) {
    padding: 224px 10vw 146px 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section--left {
    .statement {
      margin-bottom: 12px;
      @include text-style("TTInterfaces Medium", 500, 38px, 1.26);
    
      @media (min-width: 992px) {
        padding-top: 0px;
        margin-bottom: 90px;
        font-size: 56px;
        line-height: normal;
        max-width: 330px;
        position: sticky;
        top: 4rem;
      }
    }
  }
  .section--right {
    @media (min-width: 992px) {
      padding-top: 140px;
    }
  }
}

.subscribe-section {
  padding: 100px 12vw 0px 12vw;
  > h2 {
    @include text-style("TTInterfaces", 400, 38px, 1.26);
    margin-bottom: 33px;
  }
  @media (min-width: 992px) {
    padding: 146px 23vw 145px 23vw;
    > h2 {
      font-size: 56px;
      line-height: 1.18;
      margin-bottom: 75px;
    }
  }
  .subscribe {
    img {
      height: 67px;
      width: 75px;
    }

    .form-email {
      margin-top: 23px;
      > span {
        @include text-style("TTInterfaces Medium", 500, 24px, 1.5);
        display: inline-block;
        margin-bottom: 46px;
      }
      span.suscribed {
        @include text-style("TTInterfaces Bold", 700, 24px, 1.5);  
      }
    }

    .email-input {
      border-width: 0px 0px 1px 0px;
      border-color: $neutral-dark-grey;
      width: 100%;
      @include text-style("TTInterfaces", 400, 20px);
      padding: 7px;

      &:focus {
        outline: none;
      }
    }

    .send-email {
      margin-top: 45px;
      display: grid;
      grid-template-columns: 75% 25%;
      align-items: center;
      > span {
        @include text-style("TTInterfaces", 400, 14px);
        color: $neutral-dark-grey;
      }
      
      img {
        margin-left: auto;
        width: 60px;
        height: 60px;
        cursor: pointer;
      }
      
    }

    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px 150px;
      max-width: 760px;

      img {
        height: 90px;
        width: 100px;
      }

      .form-email {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 70px;
        > span {
          @include text-style("TTInterfaces Bold", 700, 32px, 1.44);
        }
      }
    }
  }
}

