@import "./variables.scss";
@import "./typography.scss";
@import "./mixins";

.bg-medium-grey {
  background-color: #fbfbfb;
}

.bg-light-grey {
  background-color: #f6f6f6;
}

.bg-medium-yellow {
  background-color: #ffe384;
}

// utils
.uppercase {
  text-transform: uppercase;
}

.full-screen {
  height: 100vh;
}

.df-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.df-column {
  flex-direction: column;
}

.ta-c {
  text-align: center;
}

// font-weigets
.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

// font-sizes
.fs-14 {
  font-size: 14px;
}

.fs-24 {
  font-size: 24px;
}

.fs-56 {
  font-size: 56px;
}

// Animations
@keyframes shake {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  20% { transform: translate(0px, 0px) rotate(40deg); }
  40% { transform: translate(-0px, 0px) rotate(0deg); }
  60% { transform: translate(0px, 0px) rotate(40deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}

// Components
header {
  position: fixed;
  z-index: 2;
  padding: 24px 6vw;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  background-color: $neutral-white;
  top: 0;
  transition: top 0.5s;

  @media ($breakpoint-desktop) {
    padding: 24px 10vw;
  }

  a.yellowme-logo {
    height: 24px;

    @media ($breakpoint-desktop) {
      height: 32px;
    }

    img {
      height: 24px;

      @media ($breakpoint-desktop) {
        height: 32px;
      }
    }
  }

  &.menu-open {
    background-color: $neutral-white;
  }

  &.header-hide {
    top: -100px
  }

  .links-ctr a {
    @include text-style("TTInterfaces Bold", 14px, 1.29);
    text-decoration: none;
    color: #000;
    margin-left: 2rem;
    padding: 8px 13px;
    border-radius: 40px;
    border: 1px solid transparent;
    
    &:hover {
      color: $neutral-dark-grey;
    };

    &.CTA:hover {
      border: 1px solid $brand-yellow;
      color: #000;
      background-color: $neutral-white;
    };

    &.selected:before {
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      border-radius: 100%;
      background-color: #FFD100;
      top: 20px;
      margin-left: -12px;

      @media ($breakpoint-desktop) {
        width: 5px;
        height: 5px;
        top: 30px;
        margin-left: -10px;
      }
    }

    &.bg-yellow {
      background-color: #FFD100;
    }
  }

  .links-ctr {
    display: none;

    @media ($breakpoint-desktop) {
      display: block;
    }
  }

  .links-ctr-toogle-menu {
    display: block;

    @media ($breakpoint-desktop) {
      display: none;
    }
  }
}

.footer {
  padding: 40px 12vw 80px 12vw;
  &--find-us {
    @include text-style("TTInterfaces Bold", 18px, normal, 0.2px);
    
    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces Bold", 24px, 1.5, -0.01px);
      padding: 0px 13vw 0px 13vw;
    }
  }

  &--social-icons {
    margin-top: 15px;
    display: flex;
    align-items: center;

    @media ($breakpoint-desktop) {
      padding: 0px 13vw 0px 13vw;
    }
    
    & a {
      margin-right: 18px;
      height: 25px;
      width: 25px;

      @media ($breakpoint-desktop) {
        height: 32px;
        width: 32px;
      }

      img {
        width: 100%;
        height: 100%;
        min-width: 25px;

        @media ($breakpoint-desktop) {
          min-width: 32px;
        }
      }
    }
  }
}

.divider {
  height: 0.5px;
  width: 100%;
  background-color: #e1e1e1;
  margin: 30px 0;

  @media ($breakpoint-desktop) {
    margin: 60px 0;  
  }
}

.hidden {
  display: none;
}