@import "./variables.scss";
@import "./mixins";

@import "./components/clientList";

.hero {
  padding: 64px 12vw 64px 12vw;

  @media ($breakpoint-desktop) {
    padding: 122px 30vw 64px 30vw;
  }

  &--sentence {
    @include text-style("Poppins", 600, 56px, 1.28);
    padding-top: 17vh;
    padding-bottom: 60px;

    @media ($breakpoint-desktop) {
      font-size: 120px;
      line-height: 1.31;
      padding-top: 9vh;
    }
  }

  &--ctr {
    width: fit-content;
    margin: auto;

    h5 {
      @include text-style("Poppins", 600, 26px, 1.5);

      @media ($breakpoint-desktop) {
        font-size: 32px;
        line-height: 1.22;
      }
    }

    p {
      @include text-style("TTInterfaces", 400, 24px, 1.5);
    }

    .hand-emoji {
      display: inline-block;
      width: fit-content;
      animation: shake 2s;
      animation-delay: .5s;
    }
  }
}

.working-with-us-section {
  padding: 100px 12vw;

  @media ($breakpoint-desktop) {
    padding: 80px 10vw 150px 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h2 {
    @include text-style("TTInterfaces Medium", 500, 38px, 1.26);
    &:not(:first-child) {
      margin-top: 100px;
    }

    @media ($breakpoint-desktop) {
      margin-top: 0px !important;
      font-size: 56px;
      line-height: normal;
      &:first-child {
        padding-top: 170px;
      }
    }
  }

  p {
    @include text-style("TTInterfaces", 400, 24px, 1.5);
    &:not(:last-child) {
      margin-bottom: 100px;
    }

    @media ($breakpoint-desktop) {
      margin-bottom: 1.45rem !important;
    }
  }

  .section--left { 
    .statement {
      margin-bottom: 90px;
      @include text-style("TTInterfaces Medium", 500, 24px, 1.5);

      @media ($breakpoint-desktop) {
        @include text-style("TTInterfaces Bold", 700, 24px, 1.5);
        padding-top: 66px;
        max-width: 330px;
        position: sticky;
        top: 4rem;
      }
    }
  }
}

.yellow-section {
  padding: 0px 12vw 0px 12vw;

  h2 {
    @include text-style("TTInterfaces DemiBold", 600, 42px, 1.17);

    @media ($breakpoint-desktop) {
      font-size: 80px;
      line-height: 1.1;
    }
  }

  p {
    @include text-style("TTInterfaces", 400, 24px, 1.5);

    @media ($breakpoint-desktop) {
      font-size: 32px;
      line-height: 1.44;
      max-width: 900px;
    }
  }
}

.testimonial-ctr {
  padding: 0px 12vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media ($breakpoint-desktop) {
    padding: 0px 23vw;
  }

  h2 {
    @include text-style("TTInterfaces", 400, 28px, 1.44);

    @media ($breakpoint-desktop) {
      font-size: 44px;
      line-height: 1.32;
      max-width: 900px;
    }
  }

  h5 {
    @include text-style("TTInterfaces Bold", 700, 24px, 1.5);
    margin-bottom: 0.3rem;

    @media ($breakpoint-desktop) {
      font-size: 32px;
      line-height: 1.44;
    }
  }

  span {
    @include text-style("TTInterfaces", 400, 20px);

    @media ($breakpoint-desktop) {
      font-size: 24px;
      line-height: 1.5;
    }
  }
}

.yellowme-home-section {
  padding: 64px 5vw;

  @media ($breakpoint-desktop) {
    padding: 80px 10vw;
  }

  video {
    width: 100%;
    height: 100%;
  }
}

.tell-us-section {
  padding: 0px 12vw 0px 12vw;

  @media ($breakpoint-desktop) {
    padding: 20px 23vw 20px 23vw;
  }

  h2 {
    @include text-style("TTInterfaces", 400, 38px, 1.26);
    text-align: left;

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces", 400, 56px, 1.25);
      padding-right: 15%;
    }
  }

  a {
    @include text-style("TTInterfaces Bold", 700, 18px);
    margin-left: auto;
    margin-bottom: 10px;
    &:link {
      text-decoration: none;
    }
    &:visited {
      color: black;
    }

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces Bold", 700, 24px, 1.5);
      margin-bottom: 20px;
    }
  }
}

.separator {
  padding: 0px 12vw;

  @media ($breakpoint-desktop) {
    padding: 0px 10vw;
  }
}

.explore-oportunity-section {
  padding: 33px 12vw 0px 12vw;

  @media ($breakpoint-desktop) {
    padding: 40px 23vw 20px 23vw;
  }

  h2 {
    @include text-style("TTInterfaces", 400, 38px, 1.26);
    text-align: left;

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces", 400, 56px, 1.25);
    }
  }

  a {
    @include text-style("TTInterfaces Bold", 700, 18px);
    margin-left: auto;
    &:link {
      text-decoration: none;
    }
    &:visited {
      color: black;
    }

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces Bold", 700, 24px, 1.5);
      margin-bottom: 0px;
    }
  }
}