@import "./variables.scss";
@import "./mixins";

@import "./components/clientList";

.hero {
  padding: 64px 12vw 64px 12vw;

  @media ($breakpoint-desktop) {
    padding: 64px 30vw 64px 30vw;
  }

  @media ($breakpoint-desktop-x-large) {
    padding: 122px 30vw 64px 30vw;
  }

  &--sentence {
    @include text-style("Poppins", 56px, 1.28, -0.03px);
    padding-top: 17vh;
    padding-bottom: 60px;

    @media ($breakpoint-desktop) {
      @include text-style("Poppins", 84px, 1.31, -0.06px);
      padding-top: 9vh;
    }

    @media ($breakpoint-desktop-x-large) {
      @include text-style("Poppins", 120px, 1.31, -0.06px);
      padding-top: 9vh;
    }
  }

  &--ctr {
    width: fit-content;
    margin: auto;

    h5 {
      @include text-style("Poppins", 26px, 1.5, -0.01px);

      @media ($breakpoint-desktop) {
        @include text-style("Poppins", 28px, 1.22, -0.01px);
      }

      @media ($breakpoint-desktop-x-large) {
        @include text-style("Poppins", 32px, 1.22, -0.01px);
      }
    }

    p {
      @include text-style("TTInterfaces", 24px, 1.5, -0.01px);
    }

    .hand-emoji {
      display: inline-block;
      width: fit-content;
      animation: shake 2s;
      animation-delay: .5s;
    }
  }
}

.working-with-us-section {
  padding: 100px 12vw;

  @media ($breakpoint-desktop) {
    padding: 80px 10vw 150px 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h2 {
    @include text-style("TTInterfaces Medium", 38px, 1.26, -0.02px);
    &:not(:first-child) {
      margin-top: 100px;
    }

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces Medium", 44px, normal, -0.03px);
      margin-top: 0px !important;
      &:first-child {
        padding-top: 170px;
      }
    }

    @media ($breakpoint-desktop-x-large) {
      @include text-style("TTInterfaces Medium", 56px, normal, -0.03px);
      margin-top: 0px !important;
      &:first-child {
        padding-top: 170px;
      }
    }
  }

  p {
    @include text-style("TTInterfaces", 24px, 1.5, -0.01px);
    &:not(:last-child) {
      margin-bottom: 100px;
    }

    @media ($breakpoint-desktop) {
      margin-bottom: 1.45rem !important;
    }
  }

  .section--left { 
    .statement {
      margin-bottom: 90px;
      @include text-style("TTInterfaces Medium", 24px, 1.5, -0.01px);

      @media ($breakpoint-desktop) {
        @include text-style("TTInterfaces Bold", 24px, 1.5, -0.01px);
        padding-top: 66px;
        max-width: 330px;
        position: sticky;
        top: 4rem;
      }
    }
  }
}

.yellow-section {
  padding: 0px 12vw 0px 12vw;

  h2 {
    @include text-style("TTInterfaces DemiBold", 42px, 1.17, -0.02px);

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces DemiBold", 64px, 1.1, -0.04px);
    }

    @media ($breakpoint-desktop-x-large) {
      @include text-style("TTInterfaces DemiBold", 80px, 1.1, -0.04px);
    }
  }

  p {
    @include text-style("TTInterfaces", 24px, 1.5, 0.01px);

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces", 28px, 1.44, -0.01px);
      max-width: 700px;
    }

    @media ($breakpoint-desktop-x-large) {
      @include text-style("TTInterfaces", 32px, 1.44, -0.01px);
      max-width: 900px;
    }
  }
}

.testimonial-ctr {
  padding: 0px 12vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media ($breakpoint-desktop) {
    padding: 0px 23vw;
  }

  h2 {
    @include text-style("TTInterfaces", 28px, 1.44, -0.01px);

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces", 36px, 1.32, -0.02px);
      max-width: 900px;
    }

    @media ($breakpoint-desktop-x-large) {
      @include text-style("TTInterfaces", 44px, 1.32, -0.02px);
      max-width: 900px;
    }
  }

  h5 {
    @include text-style("TTInterfaces Bold", 24px, 1.5, -0.01px);
    margin-bottom: 0.3rem;

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces Bold", 28px, 1.44, -0.01px);
    }

    @media ($breakpoint-desktop-x-large) {
      @include text-style("TTInterfaces Bold", 32px, 1.44, -0.01px);
    }
  }

  span {
    @include text-style("TTInterfaces", 20px, normal, 0.29px);

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces", 20px, 1.5, -0.01px);
    }

    @media ($breakpoint-desktop-x-large) {
      @include text-style("TTInterfaces", 24px, 1.5, -0.01px);
    }
  }
}

.yellowme-home-section {
  padding: 64px 5vw;

  @media ($breakpoint-desktop) {
    padding: 80px 10vw;
  }

  video {
    width: 100%;
    height: 100%;
  }
}

.tell-us-section {
  padding: 0px 12vw 0px 12vw;

  @media ($breakpoint-desktop) {
    padding: 20px 23vw 20px 23vw;
  }

  h2 {
    @include text-style("TTInterfaces", 38px, 1.26, -0.02px);
    text-align: left;

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces", 44px, 1.25, -0.03px);
      padding-right: 15%;
    }

    @media ($breakpoint-desktop-x-large) {
      @include text-style("TTInterfaces", 56px, 1.25, -0.03px);
      padding-right: 15%;
    }
  }

  a {
    @include text-style("TTInterfaces Bold", 18px, normal, 0.2px);
    margin-left: auto;
    margin-bottom: 10px;
    color: black;
    &:link {
      text-decoration: none;
    }
    &:visited {
      color: black;
    }

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces Bold", 24px, 1.5, -0.01px);
      margin-bottom: 20px;
    }
  }
}

.separator {
  padding: 0px 12vw;

  @media ($breakpoint-desktop) {
    padding: 0px 10vw;
    .divider {
      margin: 10px 0;
    }
  }

  @media ($breakpoint-desktop) {
    padding: 0px 10vw;
  }
}

.explore-oportunity-section {
  padding: 33px 12vw 0px 12vw;

  @media ($breakpoint-desktop) {
    padding: 40px 23vw 0px 23vw;
  }

  h2 {
    @include text-style("TTInterfaces", 38px, 1.26, -0.02px);
    text-align: left;

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces", 44px, 1.25, -0.03px);
    }

    @media ($breakpoint-desktop-x-large) {
      @include text-style("TTInterfaces", 56px, 1.25, -0.03px);
    }
  }

  a {
    @include text-style("TTInterfaces Bold", 18px, normal, 0.2px);
    margin-left: auto;
    color: black;
    &:link {
      text-decoration: none;
    }
    &:visited {
      color: black;
    }

    @media ($breakpoint-desktop) {
      @include text-style("TTInterfaces Bold", 24px, 1.5, -0.01px);
      margin-bottom: 0px;
    }
  }
}