@import "./variables.scss";
@import "./mixins";

.hero {
  padding: 64px 12vw 64px 12vw;

  @media ($breakpoint-desktop) {
    padding: 64px 30vw 64px 30vw;
  }

  @media ($breakpoint-desktop-x-large) {
    padding: 122px 30vw 64px 30vw;
  }

  &--sentence {
    @include text-style("Poppins", 56px, 1.28, -0.03px);
    padding-top: 9vh;
    padding-bottom: 60px;

    @media ($breakpoint-desktop) {
      @include text-style("Poppins", 84px, 1.31, -0.06px);
      padding-top: 15vh;
    }

    @media ($breakpoint-desktop-x-large) {
      @include text-style("Poppins", 120px, 1.31, -0.06px);
      padding-top: 9vh;
    }
  }

  &--ctr {
    width: fit-content;
    margin: auto;

    h5 {
      @include text-style("Poppins", 20px, 1.5, -0.01px);

      @media ($breakpoint-desktop) {
        @include text-style("Poppins", 20px, 1.22, -0.01px);
      }

      @media ($breakpoint-desktop-x-large) {
        @include text-style("Poppins", 20px, 1.22, -0.01px);
      }
    }

    p {
      @include text-style("TTInterfaces", 20px, 1.5, -0.01px);
    }

    .hand-emoji {
      display: inline-block;
      width: fit-content;
      animation: shake 2s;
      animation-delay: .5s;
    }
  }
}

.yellowme-home-section {
  padding: 0 5vw;
  margin-bottom: 50px;

  @media ($breakpoint-desktop) {
    padding: 80px 10vw;
    margin-bottom: 0px;
  }

  video {
    width: 100%;
    height: 100%;
  }
}
