@import "./variables.scss";
@import "./mixins";

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;

  a {
    color: #222222;
    border-bottom: none;
    padding-bottom: 0px;
  }

  .overlay-menu {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding-bottom: 3vw;
    padding-right: 10vw;
    transform: translateY(-110%);
    background: rgba(255, 255, 255, 1);
    transition: transform .4s ease-in-out,visibility 0s .4s;
  }

  &--open {
    visibility: visible;
    top: 0;
    margin-top: 72px;

    .overlay-menu {
      transform: translateY(0);
      transition: transform .4s ease-in-out;
    }
  }

  &__items-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-child(1){
      white-space: pre;
    }

    & > * {
      margin-bottom: 1.8rem;
    };
  }

  &__link {
    @include text-style("TTInterfaces DemiBold", 42px, 1.17);
    position: relative;
    text-align: end;
    opacity: 0;
    width: fit-content;
    transform: translateY(-8px);
    transition: all .2s;
    animation: fade-in-top .5s ease forwards;
    text-decoration: none;
    margin-left: 2rem;
    padding: 8px 13px;

    &.selected:before {
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      border-radius: 100%;
      background-color: #FFD100;
      top: 20px;
      margin-left: -12px;

      @media ($breakpoint-desktop) {
        width: 5px;
        height: 5px;
        top: 30px;
        margin-left: -10px;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 40%;
      left: 50%;
      right: 0;
      width: 0;
      height: 15px;
      background-color: white;
      transform: translateX(-50%);
      transition: all .17s ease-out;
    }

    &.animate {
      transform: translateY(0);
      opacity: 1;
    }
  }
  div.footer {
    > div.divider{
      height: 0px;
    }
  }
}

.menu__icon {
  width: 40px;
  height: 40px;
  background-color: $brand-yellow;
  border-radius: 100%;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 9;

  span {
    display: block;
    position: absolute;
    height: 4px;
    background: #000000;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
}

.menu__icon span {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  
  &.line-1 {
    background-color: #FFF;
  }
}

.menu__icon span:nth-child(1) {
  width: 40%;
  height: 1px;
  top: 18px;
  left: 12px;
}

.menu__icon span:nth-child(2) {
  width: 40%;
  height: 1px;
  top: 22px;
  left: 12px;
}

.menu__icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 32%;
  height: 1px;
  top: 14px;
  left: 16px;
}

.menu__icon.open span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 32%;
  height: 1px;
  top: 23px;
  left: 16px;
}
